# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/ThinkBitcoin-Front/CopilotIndices/17.14.1231.31060
/.vs/ProjectSettings.json
/.vs/ThinkBitcoin-Front/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
